In [1]:
import yfinance as yf
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
import datetime

In [2]:
# Define the tickers of Nifty 50 stocks
nifty50_tickers = ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS',
                   'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS',
                   'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS',
                   'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS',
                   'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS',
                   'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS',
                   'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS',
                   'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS',
                   'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS']

# Fetch the data using yfinance
nifty50_data = yf.download(nifty50_tickers, start='2012-04-01', end='2021-03-31', group_by='ticker')

# Print the data
print(nifty50_data)

[*********************100%***********************]  50 of 50 completed
            SBILIFE.NS                                                  \
                  Open        High         Low       Close   Adj Close
Date
2012-04-02         NaN         NaN         NaN         NaN         NaN
2012-04-03         NaN         NaN         NaN         NaN         NaN
2012-04-04         NaN         NaN         NaN         NaN         NaN
2012-04-09         NaN         NaN         NaN         NaN         NaN
2012-04-10         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2021-03-23  904.799988  910.849976  895.000000  898.900024  892.595703
2021-03-24  893.000000  895.000000  875.049988  880.700012  874.523315
2021-03-25  875.099976  884.299988  861.000000  864.099976  858.039612
2021-03-26  870.000000  876.900024  868.099976  873.950012  867.820618
2021-03-30  876.000000  881.000000  868.000000  872.150024  866.033264

                      COALINDIA.NS                                      ...  \
               Volume         Open        High         Low       Close  ...
Date                                                                    ...
2012-04-02        NaN   340.000000  343.299988  335.100006  341.200012  ...
2012-04-03        NaN   342.899994  347.299988  340.549988  343.299988  ...
2012-04-04        NaN   337.000000  344.700012  334.600006  341.600006  ...
2012-04-09        NaN   336.399994  342.299988  336.000000  336.450012  ...
2012-04-10        NaN   337.100006  337.799988  331.000000  333.299988  ...
...               ...          ...         ...         ...         ...  ...
2021-03-23  1642691.0   135.600006  136.649994  134.100006  135.250000  ...
2021-03-24  1900721.0   133.899994  135.149994  132.050003  132.300003  ...
2021-03-25  2711471.0   132.000000  133.100006  127.050003  128.100006  ...
2021-03-26  1194885.0   129.100006  130.399994  128.699997  129.600006  ...
2021-03-30  1276847.0   131.000000  134.449997  130.149994  132.949997  ...

                ITC.NS                                   HINDALCO.NS  \
                   Low       Close   Adj Close    Volume        Open
Date
2012-04-02  150.433334  151.300003  112.889610  14596407  130.000000
2012-04-03  151.033340  151.399994  112.964218   8818290  129.000000
2012-04-04  150.399994  151.600006  113.113426   7152486  131.000000
2012-04-09  148.833328  149.366669  111.447067   5189601  131.850006
2012-04-10  148.833328  152.899994  114.083389   8229393  127.000000
...                ...         ...         ...       ...         ...
2021-03-23  221.300003  222.199997  203.256424  41564683  341.899994
2021-03-24  215.250000  215.949997  197.539261  27609243  328.299988
2021-03-25  209.050003  211.600006  193.560135  40681282  319.049988
2021-03-26  210.350006  210.899994  192.919785  26079435  318.100006
2021-03-30  210.399994  214.550003  196.258621  27792033  330.549988


                  High         Low       Close   Adj Close    Volume
Date
2012-04-02  130.649994  126.750000  127.300003  116.161179   8610177
2012-04-03  132.500000  128.899994  131.899994  120.358665   9437219
2012-04-04  133.649994  130.149994  133.100006  121.453682   8419941
2012-04-09  131.850006  125.550003  126.000000  114.974930   7332357
2012-04-10  128.000000  123.250000  124.949997  114.016800  11771578
...                ...         ...         ...         ...       ...
2021-03-23  342.450012  330.299988  331.700012  326.427002  13880498
2021-03-24  328.299988  316.799988  317.750000  312.698761  20388678
2021-03-25  319.899994  305.399994  314.000000  309.008392  20856373
2021-03-26  328.500000  318.100006  327.149994  321.949310  13857627
2021-03-30  332.899994  324.950012  326.299988  321.112854   9159261

[2215 rows x 300 columns]

In [5]:
# closing_cols = []
# for table_name in nifty50_data:
#     closing_col = table_name['Close']
#     closing_cols.append(closing_col)

In [6]:
nifty50_data.head()

           SBILIFE.NS                                 COALINDIA.NS  \
                 Open High Low Close Adj Close Volume         Open
Date
2012-04-02        NaN  NaN NaN   NaN       NaN    NaN   340.000000
2012-04-03        NaN  NaN NaN   NaN       NaN    NaN   342.899994
2012-04-04        NaN  NaN NaN   NaN       NaN    NaN   337.000000
2012-04-09        NaN  NaN NaN   NaN       NaN    NaN   336.399994
2012-04-10        NaN  NaN NaN   NaN       NaN    NaN   337.100006

                                                ...      ITC.NS              \
                  High         Low       Close  ...         Low       Close
Date                                            ...
2012-04-02  343.299988  335.100006  341.200012  ...  150.433334  151.300003
2012-04-03  347.299988  340.549988  343.299988  ...  151.033340  151.399994
2012-04-04  344.700012  334.600006  341.600006  ...  150.399994  151.600006
2012-04-09  342.299988  336.000000  336.450012  ...  148.833328  149.366669
2012-04-10  337.799988  331.000000  333.299988  ...  148.833328  152.899994

                                 HINDALCO.NS                          \
             Adj Close    Volume        Open        High         Low
Date
2012-04-02  112.889610  14596407  130.000000  130.649994  126.750000
2012-04-03  112.964218   8818290  129.000000  132.500000  128.899994
2012-04-04  113.113426   7152486  131.000000  133.649994  130.149994
2012-04-09  111.447067   5189601  131.850006  131.850006  125.550003
2012-04-10  114.083389   8229393  127.000000  128.000000  123.250000


                 Close   Adj Close    Volume
Date
2012-04-02  127.300003  116.161179   8610177
2012-04-03  131.899994  120.358665   9437219
2012-04-04  133.100006  121.453682   8419941
2012-04-09  126.000000  114.974930   7332357
2012-04-10  124.949997  114.016800  11771578

[5 rows x 300 columns]

In [7]:
nifty50_data.tail()

            SBILIFE.NS                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-03-23  904.799988  910.849976  895.000000  898.900024  892.595703
2021-03-24  893.000000  895.000000  875.049988  880.700012  874.523315
2021-03-25  875.099976  884.299988  861.000000  864.099976  858.039612
2021-03-26  870.000000  876.900024  868.099976  873.950012  867.820618
2021-03-30  876.000000  881.000000  868.000000  872.150024  866.033264

                      COALINDIA.NS                                      ...  \
               Volume         Open        High         Low       Close  ...
Date                                                                    ...
2021-03-23  1642691.0   135.600006  136.649994  134.100006  135.250000  ...
2021-03-24  1900721.0   133.899994  135.149994  132.050003  132.300003  ...
2021-03-25  2711471.0   132.000000  133.100006  127.050003  128.100006  ...
2021-03-26  1194885.0   129.100006  130.399994  128.699997  129.600006  ...
2021-03-30  1276847.0   131.000000  134.449997  130.149994  132.949997  ...

                ITC.NS                                   HINDALCO.NS  \
                   Low       Close   Adj Close    Volume        Open
Date
2021-03-23  221.300003  222.199997  203.256424  41564683  341.899994
2021-03-24  215.250000  215.949997  197.539261  27609243  328.299988
2021-03-25  209.050003  211.600006  193.560135  40681282  319.049988
2021-03-26  210.350006  210.899994  192.919785  26079435  318.100006
2021-03-30  210.399994  214.550003  196.258621  27792033  330.549988


                  High         Low       Close   Adj Close    Volume
Date
2021-03-23  342.450012  330.299988  331.700012  326.427002  13880498
2021-03-24  328.299988  316.799988  317.750000  312.698761  20388678
2021-03-25  319.899994  305.399994  314.000000  309.008392  20856373
2021-03-26  328.500000  318.100006  327.149994  321.949310  13857627
2021-03-30  332.899994  324.950012  326.299988  321.112854   9159261

[5 rows x 300 columns]

In [12]:
# Define the ticker symbol for Nifty 50 index
nifty50_ticker_bench = "^NSEI"

# Define the start and end dates for the data
start_date = "2012-04-01"
end_date = "2021-03-31"

# Fetch the data using yfinance
nifty50_data_bench = yf.download(nifty50_ticker, start=start_date, end=end_date)

# Print the data
print(nifty50_data_bench)

[*********************100%***********************]  1 of 1 completed
                    Open          High           Low         Close  \
Date
2012-04-02   5296.350098   5331.549805   5278.799805   5317.899902
2012-04-03   5353.200195   5378.750000   5344.450195   5358.500000
2012-04-04   5328.649902   5338.399902   5305.299805   5322.899902
2012-04-09   5282.500000   5287.899902   5228.000000   5234.399902
2012-04-10   5254.100098   5255.799805   5211.850098   5243.600098
...                  ...           ...           ...           ...
2021-03-23  14768.549805  14878.599609  14707.000000  14814.750000
2021-03-24  14712.450195  14752.349609  14535.000000  14549.400391
2021-03-25  14570.900391  14575.599609  14264.400391  14324.900391
2021-03-26  14506.299805  14572.900391  14414.250000  14507.299805
2021-03-30  14628.500000  14876.299805  14617.599609  14845.099609

               Adj Close  Volume
Date
2012-04-02   5317.899902       0
2012-04-03   5358.500000       0
2012-04-04   5322.899902       0
2012-04-09   5234.399902       0
2012-04-10   5243.600098       0
...                  ...     ...
2021-03-23  14814.750000  474200
2021-03-24  14549.400391  456400
2021-03-25  14324.900391  606800
2021-03-26  14507.299805  481000
2021-03-30  14845.099609  594500

[2200 rows x 6 columns]

In [32]:
# # Calculate the yearly returns
# yearly_returns = nifty50_data.resample('Y').last().pct_change()

# # Print the yearly returns
# print(yearly_returns)

In [18]:
# Calculate the yearly returns
yearly_returns_bench = nifty50_data_bench.resample('Y').last().pct_change()

# Print the yearly returns
print(yearly_returns_bench)

                Open      High       Low     Close  Adj Close    Volume
Date
2012-12-31       NaN       NaN       NaN       NaN        NaN       NaN
2013-12-31  0.068825  0.067292  0.066159  0.067552   0.067552       inf
2014-12-31  0.307031  0.312428  0.311175  0.313880   0.313880 -0.182785
2015-12-31 -0.041983 -0.040460 -0.042772 -0.040609  -0.040609  0.785799
2016-12-31  0.028090  0.030350  0.028336  0.030133   0.030133 -0.154407
2017-12-31  0.292217  0.285678  0.292541  0.286460   0.286460  0.191223
2018-12-31  0.040110  0.036518  0.034757  0.031513   0.031513  0.190132
2019-12-31  0.122228  0.121165  0.119651  0.120220   0.120220  1.359867
2020-12-31  0.140678  0.145157  0.146863  0.149016   0.149016  0.059733
2021-12-31  0.047137  0.060710  0.048875  0.061748   0.061748  0.314103

In [33]:
# Initialize an empty DataFrame for the yearly returns
# yearly_returns = pd.DataFrame()

# # Loop over the ticker symbols and fetch the data for each stock
# for ticker in nifty50_tickers:
    
#     # Calculate the yearly returns and append to the DataFrame
#     yearly_returns[ticker] = nifty50_data['Close'].resample('Y').last().pct_change()

# # Print the yearly returns
# print(yearly_returns)

In [49]:
for ticker in nifty50_tickers:
    
    daily_return[ticker] = nifty50_data['Close'].pct_change()
daily_return

Date
2012-04-02 00:00:00                                                  NaN
2012-04-03 00:00:00                                             0.007635
2012-04-04 00:00:00                                            -0.006644
2012-04-09 00:00:00                                            -0.016626
2012-04-10 00:00:00                                             0.001758
                                             ...
High                   Date
2012-04-02         NaN
2012-04-03    0.00...
Low                    Date
2012-04-02         NaN
2012-04-03    0.00...
Close                  Date
2012-04-02         NaN
2012-04-03    0.00...
Adj Close              Date
2012-04-02         NaN
2012-04-03    0.00...
Volume                 Date
2012-04-02         NaN
2012-04-03    0.00...
Name: Close, Length: 2256, dtype: object

In [37]:
anual_return = daily_return.mean() * 252
anual_return

Open         0.132516
High         0.128489
Low          0.133918
Close        0.132687
Adj Close    0.132687
Volume            inf
dtype: float64

In [31]:
relative_strengths = pd.DataFrame()
for ticker in nifty50_tickers:
# Calculate the relative strength and append to the DataFrame
    relative_strengths[ticker] = (yearly_returns[ticker] / yearly_returns_bench)-1
relative_strengths

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BRITANNIA.NS,CIPLA.NS,COALINDIA.NS,...,SUNPHARMA.NS,TATAMOTORS.NS,TATASTEEL.NS,TATACONSUM.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
relative_strengths = pd.DataFrame()
for ticker in nifty50_tickers:
# Calculate the relative strength and append to the DataFrame
    relative_strengths[ticker] = (nifty50_data['Close'] / nifty50_data_bench['Close'])-1
relative_strengths

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BRITANNIA.NS,CIPLA.NS,COALINDIA.NS,...,SUNPHARMA.NS,TATAMOTORS.NS,TATASTEEL.NS,TATACONSUM.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2012-04-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-04-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-04-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-04-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-03-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-03-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-03-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-03-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Calculate the relative strength for the Nifty 50 index
nifty_rs = (nifty50_data_bench['Close'] / nifty50_data_bench['Close'].shift(1))-1
nifty_rs

Date
2012-04-02         NaN
2012-04-03    0.007635
2012-04-04   -0.006644
2012-04-09   -0.016626
2012-04-10    0.001758
                ...
2021-03-23    0.005317
2021-03-24   -0.017911
2021-03-25   -0.015430
2021-03-26    0.012733
2021-03-30    0.023285
Name: Close, Length: 2200, dtype: float64

In [26]:
# Calculate the relative strength for each year
relative_strengths = (ticker_returns / benchmark_returns)-1

# Print the relative strength for each year
for i, relative_strength in enumerate(relative_strengths):
    print("Relative strength of", nifty50_tickers, "vs.", nifty50_ticker_bench, "in year", i+1, "is:", relative_strength)

Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 1 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 2 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 3 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 4 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 5 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 6 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 7 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 8 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 9 is: 0.0
Relative strength of ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TATACONSUM.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'] vs. ^NSEI in year 10 is: 0.0

In [6]:
import yfinance as yf

start_date = '2012-04-01'
end_date = '2021-03-31'

# Specify the stock ticker symbol
stock_symbol = 'ADANIENT.NS'

# Download the stock data for the specified time period
stock_data = yf.download(stock_symbol, start=start_date, end=end_date)

# Print the first few rows of the stock data
print(stock_data.head())

[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume
Date
2012-04-02  46.756557  48.044067  46.756557  47.208717  39.885220   5515515
2012-04-03  47.783501  49.599808  46.442341  49.124657  41.503933  12343521
2012-04-04  49.201294  49.814396  48.220333  48.680157  41.128387   6756617
2012-04-09  48.434917  48.572865  47.201054  47.630222  40.241337   3675522
2012-04-10  47.630222  49.048019  47.208717  48.434917  40.921192   6638810